<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmSigno="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-select placeholder="Seleccione paciente" [(value)]="idPacienteSeleccionado" >
            <mat-option *ngFor="let p of (pacientes$ | async)" [value]="p.idPaciente">
              {{p.nombres}} {{ p.apellidos }} 
            </mat-option>
        </mat-select>
    </mat-form-field>


        <button mat-raised-button color="primary" (click)="crearNuevoPaciente()">
            <mat-icon>done</mat-icon>
            <span>Nuevo Paciente</span>
        </button>



    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" formControlName="fecha"
         [(ngModel)]="fechaSeleccionada" [max]="maxFecha" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    
    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Temperatura" required formControlName="temperatura">               
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Pulso" required formControlName="pulso">               
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="RitmoRespiratorio" required formControlName="ritmoRespiratorio">               
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmSigno.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signo' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>