
<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" >
    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Nombres" required formControlName="nombres" maxlength="100">            
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Apellidos" required formControlName="apellidos" maxlength="100">            
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="DNI (maximo 8 caracteres)" required formControlName="dni" max="15" maxlength="100" >            
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Telefono (maximo 9 caracteres)" required formControlName="telefono" max="10" maxlength="100" >            
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Direccion" required formControlName="direccion" max="100" maxlength="100" >            
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardar()" type="button">Aceptar</button>
    <button mat-raised-button color="accent" (click)="cerrar()" type="button">Cancelar</button>



</form>